body {
    background-image: url("images/headphones_hero_1.jpg");
    object-fit: cover;
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rex;
   
}
.header-section {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.navbar-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav.nav-link {
    display: block;
    padding: 0.5rem 0;
    position: relative;
}

nav ul li {
    margin: 10px; 
  }



nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rex;
  }
  
   
  /* Hover effect */
  nav ul li a:hover {
    color: #FF6565;
  }
  
  .button:hover {
    opacity: 0.9;
  }


.hero-section {
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;

}


  
.button {
    background-color: #FF6565;
    border-radius: 20px;
    color: white;
    height: 30px;
    width: 130px;
    margin-top: 30px;
}

.paragraph-main {
    flex-wrap: wrap;
    margin-top: 30px;
}

.header-section.logo{
    .container {
        display: grid;
        place-items: center; /* Center both horizontally and vertically */
        height: 100vh; /* Set the height of the container to the full viewport height */
      }
      
    
}
 
.logo img {
    height: 30px;
    width: 150px;
}

.w-6 {
    width: 50px;
}

.small-screen {
    display: none;
}
@media screen and (max-width: 480px){
    .small-screen {
        display: block;
    }
    
}
  
  
  
  /* what we do */

.what-we-do {
  display: flex;  
  background-color: white;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rex;
  flex-wrap: wrap;
}

.what-we-do .text2 {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 150px;
    margin-bottom: 100px;
}

/*Our results section*/
.our-results {
    background-image: url("images/headphones_hero_2.jpg");
    object-fit: cover;
}

.pentagone {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 150px;
    margin-bottom: 100px;  
}

.our-results .text3 {
    margin-top: 0px;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 130px;
}

.text3 h2{
    margin-bottom: 40px;
}